#container {
    display: flex;
    width: 100%;
    height: calc(100vh - 4em);
    background-color: whitesmoke;
}

#sidenav {
    flex: 1;
    border-right: 1px solid lightgray;
    overflow-y: scroll;
}

#main {
    flex: 5;
    overflow-y: scroll;
}
